<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生选课信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        div > img {
            margin-left: 20px;
            margin-top: 20px;
        }

        .wrapTd {
            word-wrap: break-word;
            word-break: break-all;
        }

        .leftTd {
            font-weight: bold;
            width: 20%;
        }
    </style>
</head>
<body>
<div th:if="${message!=null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        alert(/*[[${message}]]*/);
        /*]]>*/
    </script>
</div>
<div id="header">
    <div th:replace="~{header/header :: head-student}"></div>
</div>
<div id="main">
    <h1>课程选课信息</h1>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="leftTd">课程名称</td>
            <td th:text="${course.getName()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">课程简介</td>
            <td th:text="${course.getSummary()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">起始时间</td>
            <td th:text="${#dates.format(course.getStartTime(), 'yyyy-MM-dd')}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">结束时间</td>
            <td th:text="${#dates.format(course.getEndTime(), 'yyyy-MM-dd')}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">学分</td>
            <td th:text="${course.getCredit()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">分类</td>
            <td th:text="${course.getType()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">主题</td>
            <td th:text="${course.getThemeName()}" class="wrapTd"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <table class="table table-bordered table-striped">
        <caption th:text="'章节数: ' + ${list.size()} + ''"></caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="'#'+${list.size()}"></th>
            <th scope="col">学生</th>
            <th scope="col">最新学习章节</th>
            <th scope="col">最新学习小节</th>
            <th scope="col">学习完成情况</th>
            <th scope="col">查看详细信息</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,status: ${list}">
            <td class="wrapTd" th:text="|${status.count}|"></td>
            <td class="wrapTd" th:text="${item.getStudentName()}"></td>
            <td class="wrapTd" th:text="${item.getChapterName()}"></td>
            <td class="wrapTd" th:text="${item.getSectionName()}"></td>
            <td class="wrapTd">
                <span th:if="${item.getStatus()==1}">已完成</span>
                <span th:if="${item.getStatus()==0}">未完成</span>
            </td>
            <td><a th:href="${'/student/'+course.getId()+'/'+item.getStudentId()}">查看</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div id="footer">
    <div th:replace="~{header/footer :: footer-fragment}"></div>
</div>
</body>
</html>