<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>章节信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        div > img {
            margin-left: 20px;
            margin-top: 20px;
        }

        .wrapTd {
            word-wrap: break-word;
            word-break: break-all;
        }

        .leftTd {
            font-weight: bold;
            width: 20%;
        }
    </style>
</head>
<body>
<div th:if="${message!=null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        alert(/*[[${message}]]*/);
        /*]]>*/
    </script>
</div>
<div id="header">
    <div th:replace="~{header/header :: head-course}"></div>
</div>
<div id="main">
    <h1>我的课程-章节信息</h1>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="leftTd">章节名称</td>
            <td th:text="${chapter.getName()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">章节简介</td>
            <td th:text="${chapter.getSummary()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">章节序号</td>
            <td th:text="${chapter.getOrderNumber()}" class="wrapTd"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addChapter">
        添加小节
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modify">
        修改章节
    </button>
    <a th:href="${'/course/'+chapter.getCourseId()}">
        <button type="button" class="btn btn-lg btn-info" data-toggle="modal">
            返回课程
        </button>
    </a>
    <br/>
    <table class="table table-bordered table-striped">
        <caption th:text="'小节数: ' + ${list.size()} + ''"></caption>
        <thead class="thead-dark">
        <tr>
            <th style="width: 5%" scope="col" th:text="'#'+${list.size()}"></th>
            <th style="width: 10%" scope="col">小节名称</th>
            <th scope="col">小节摘要</th>
            <th style="width: 10%" scope="col">顺序号</th>
            <th style="width: 10%" scope="col">查看</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="section,status: ${list}">
            <td style="width: 5%" class="wrapTd" th:text="|${status.count}|"></td>
            <td style="width: 10%" class="wrapTd" th:text="${section.getName()}"></td>
            <td class="wrapTd" th:text="${section.getSummary()}"></td>
            <td style="width: 10%" class="wrapTd" th:text="${section.getOrderNumber()}"></td>
            <td style="width: 10%"><a th:href="${'/course/section/'+section.getId()}">查看</a></td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addChapter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加小节</h4>
                </div>
                <form method="post" th:action="${'/course/add/'+chapter.getId()+'/section'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group input-group">
                            <span class="input-group-addon">小节名称</span>
                            <input type="text" class="form-control" name="name" placeholder="小节名称"
                                   aria-describedby="basic-addon1" maxlength="30" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">小节摘要</span>
                            <input type="text" class="form-control" name="summary" placeholder="小节摘要"
                                   aria-describedby="basic-addon1" maxlength="100" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">添加小节</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModal">修改章节</h4>
                </div>
                <form method="post" th:action="${'/course/modify/'+chapter.getId()+'/chapter'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="number" name="orderNumberOld" th:value="${chapter.getOrderNumber()}" hidden="hidden">
                        <input type="number" name="courseId" th:value="${chapter.getCourseId()}" hidden="hidden">
                        <div class="form-group input-group">
                            <span class="input-group-addon">章节名称</span>
                            <input type="text" class="form-control" name="name" placeholder="章节名称"
                                   aria-describedby="basic-addon1" maxlength="30" th:value="${chapter.getName()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">章节摘要</span>
                            <input type="text" class="form-control" name="summary" placeholder="章节摘要"
                                   aria-describedby="basic-addon1" maxlength="100" th:value="${chapter.getSummary()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">顺序号</span>
                            <input type="number" class="form-control" name="orderNumber" placeholder="顺序号"
                                   aria-describedby="basic-addon1" th:value="${chapter.getOrderNumber()}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">修改章节</button>
                        <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                                data-target="#delete">
                            删除章节
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalmyModalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalDelete">警告：删除后无法恢复</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a th:href="${'/course/delete/'+chapter.getId()+'/chapter'}"><button type="button" class="btn btn-primary">确认删除</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div th:replace="~{header/footer :: footer-fragment}"></div>
</div>
</body>
</html>