<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择题信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        div > img {
            margin-left: 20px;
            margin-top: 20px;
        }

        .wrapTd {
            word-wrap: break-word;
            word-break: break-all;
        }

        .leftTd {
            font-weight: bold;
            width: 20%;
        }

        .row-with-check {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .row-with-check input:nth-child(1) {
            flex: 6;
        }

        .row-with-check select {
            flex: 1;
        }

        .row-with-check div {
            flex: 1;
            display: flex;
            vertical-align: center;
            align-items: center;
        }

        .row-with-check div input {
            flex: 0;
            height: 60%;
            margin: 0;
        }

    </style>
</head>
<body>
<div th:if="${message!=null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        alert(/*[[${message}]]*/);
        /*]]>*/
    </script>
</div>
<div id="header">
    <div th:replace="~{header/header :: head-course}"></div>
</div>
<div id="main">
    <h1>我的课程-选择题信息</h1>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="leftTd">小节名称</td>
            <td th:text="${section.getName()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">小节简介</td>
            <td th:text="${section.getSummary()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">章节序号</td>
            <td th:text="${section.getOrderNumber()}" class="wrapTd"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addChapter">
        添加选择题
    </button>
    <a th:href="${'/course/section/'+section.getId()}">
        <button type="button" class="btn btn-lg btn-info" data-toggle="modal">
            返回小节
        </button>
    </a>
    <br/>
    <table class="table table-bordered table-striped">
        <caption th:text="'小节数: ' + ${list.size()} + ''"></caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="'#'+${list.size()}"></th>
            <th scope="col">题目</th>
            <th scope="col">选项A</th>
            <th scope="col">选项B</th>
            <th scope="col">选择C</th>
            <th scope="col">正确答案</th>
            <th scope="col">答案解析</th>
            <th scope="col">删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,status: ${list}" th:with="optionList=${question.getOptionList()}">
            <td class="wrapTd" th:text="|${status.count}|"></td>
            <td class="wrapTd" th:text="${question.getContent()}"></td>
            <td class="wrapTd" th:text="${optionList.get(0).getContent()}"></td>
            <td class="wrapTd" th:text="${optionList.get(1).getContent()}"></td>
            <td class="wrapTd" th:text="${optionList.get(2).getContent()}"></td>
            <td class="wrapTd">
                <span th:if="${optionList.get(0).getIsCorrect()==1}">A</span>
                <span th:if="${optionList.get(1).getIsCorrect()==1}">B</span>
                <span th:if="${optionList.get(2).getIsCorrect()==1}">C</span>
            </td>
            <td class="wrapTd" th:text="${question.getAnswerKey()}"></td>
            <td><a th:href="${'/course/delete/'+section.getId()+'/'+question.getId()+'/choice'}">
                <button class="btn btn-danger">删除</button>
            </a></td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addChapter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加对话</h4>
                </div>
                <form method="post" th:action="${'/course/add/'+section.getId()+'/choice'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group input-group row-with-check">
                            <input type="text" class="form-control" name="question" placeholder="题目内容"
                                   maxlength=255 required>
                        </div>
                        <div class="form-group input-group row-with-check">
                            <input type="text" class="form-control" name="option" placeholder="选项A" maxlength=255
                                   required>
                            <div>
                                <input type="radio" name="isCorrect" value="0" checked><span>正确答案</span>
                            </div>
                        </div>
                        <div class="form-group input-group row-with-check">
                            <input type="text" class="form-control" name="option" placeholder="选项B" maxlength=255
                                   required>
                            <div>
                                <input type="radio" name="isCorrect" value="1"><span>正确答案</span>
                            </div>
                        </div>
                        <div class="form-group input-group row-with-check">
                            <input type="text" class="form-control" name="option" placeholder="选项C" maxlength=255
                                   required>
                            <div>
                                <input type="radio" name="isCorrect" value="2"><span>正确答案</span>
                            </div>
                        </div>
                        <div class="form-group input-group row-with-check">
                            <input type="text" class="form-control" name="answerKey" placeholder="题目解析"
                                   maxlength=255 required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">添加选择题</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div th:replace="~{header/footer :: footer-fragment}"></div>
</div>
</body>
</html>