<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        div > img {
            margin-left: 20px;
            margin-top: 20px;
        }

        .wrapTd {
            word-wrap: break-word;
            word-break: break-all;
        }

        .leftTd {
            font-weight: bold;
            width: 20%;
        }
    </style>
</head>
<body>
<div th:if="${message!=null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        alert(/*[[${message}]]*/);
        /*]]>*/
    </script>
</div>
<div id="header">
    <div th:replace="~{header/header :: head-course}"></div>
</div>
<div id="main">
    <h1>我的课程-课程信息</h1>
    <hr/>
    <img th:src="${course.getImageSrc()}" width="300" height="300" alt="课程图片">
    <hr/>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="leftTd">课程名称</td>
            <td th:text="${course.getName()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">课程简介</td>
            <td th:text="${course.getSummary()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">起始时间</td>
            <td th:text="${#dates.format(course.getStartTime(), 'yyyy-MM-dd')}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">结束时间</td>
            <td th:text="${#dates.format(course.getEndTime(), 'yyyy-MM-dd')}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">学分</td>
            <td th:text="${course.getCredit()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">分类</td>
            <td th:text="${course.getType()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">主题</td>
            <td th:text="${course.getThemeName()}" class="wrapTd"></td>
        </tr>
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addChapter">
        添加章节
    </button>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modify">
        修改课程
    </button>
    <a href="/course/index">
        <button type="button" class="btn btn-lg btn-info" data-toggle="modal">
            返回我的课程
        </button>
    </a>
    <br/>
    <table class="table table-bordered table-striped">
        <caption th:text="'章节数: ' + ${list.size()} + ''"></caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="'#'+${list.size()}"></th>
            <th scope="col">章节名称</th>
            <th scope="col">章节简介</th>
            <th scope="col">章节顺序号</th>
            <th scope="col">查看</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chapter,status: ${list}">
            <td class="wrapTd" th:text="|${status.count}|"></td>
            <td class="wrapTd" th:text="${chapter.getName()}"></td>
            <td class="wrapTd" th:text="${chapter.getSummary()}"></td>
            <td class="wrapTd" th:text="${chapter.getOrderNumber()}"></td>
            <td><a th:href="${'/course/chapter/'+chapter.getId()}">查看</a></td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="addChapter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加章节</h4>
                </div>
                <form method="post" th:action="${'/course/add/'+course.getId()+'/chapter'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group input-group">
                            <span class="input-group-addon">章节名称</span>
                            <input type="text" class="form-control" name="name" placeholder="章节名称" maxlength="30"
                                   aria-describedby="basic-addon1" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">章节简介</span>
                            <input type="text" class="form-control" name="summary" placeholder="章节简介" maxlength="100"
                                   aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">添加章节</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModal2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModal2">修改课程</h4>
                </div>
                <form method="post" th:action="${'/course/modify/'+course.getId()+'/course'}" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group input-group">
                            <span class="input-group-addon">课程名称</span>
                            <input type="text" class="form-control" name="name" placeholder="课程名称" maxlength="30"
                                   aria-describedby="basic-addon1" th:value="${course.getName()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">课程简介</span>
                            <input type="text" class="form-control" name="summary" placeholder="课程简介" maxlength="100"
                                   aria-describedby="basic-addon1" th:value="${course.getSummary()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">起始时间</span>
                            <input type="date" class="form-control" name="startTime" placeholder="起始时间"
                                   aria-describedby="basic-addon1"
                                   th:value="${#dates.format(course.getStartTime(), 'yyyy-MM-dd')}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">结束时间</span>
                            <input type="date" class="form-control" name="endTime" placeholder="结束时间"
                                   aria-describedby="basic-addon1"
                                   th:value="${#dates.format(course.getEndTime(), 'yyyy-MM-dd')}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">学分数</span>
                            <input type="number" class="form-control" name="credit" placeholder="学分数"
                                   aria-describedby="basic-addon1" th:value="${course.getCredit()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">课程分类</span>
                            <select name="type" class="form-control">
                                <option th:each="type:${typeList}" th:value="${type}" th:text="${type}"
                                        th:selected="${course.getType()==type}"></option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">课程主题</span>
                            <select name="theme" class="form-control">
                                <option th:each="theme,status: ${themeList}" th:value="${theme.getId()}"
                                        th:selected="${course.getThemeId()==theme.getId()}"
                                        th:text="${theme.getName()}" th:title="${theme.getSummary()}"></option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">课程图片</span>
                            <input type="file" class="form-control" name="image"
                                   aria-describedby="basic-addon1" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">修改课程</button>
                        <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                                data-target="#delete">
                            删除课程
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalmyModalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalDelete">警告：删除后无法恢复</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a th:href="${'/course/delete/'+course.getId()+'/course'}"><button type="button" class="btn btn-danger">确认删除</button></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="footer">
    <div th:replace="~{header/footer :: footer-fragment}"></div>
</div>
</body>
</html>