<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小节信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">
        .flex {
            display: flex;
            flex-wrap: wrap;
        }

        div > img {
            margin-left: 20px;
            margin-top: 20px;
        }

        .wrapTd {
            word-wrap: break-word;
            word-break: break-all;
        }

        .leftTd {
            font-weight: bold;
            width: 20%;
        }

        .row-with-check {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .row-with-check input:nth-child(1) {
            flex: 7;
        }

        .row-with-check select {
            flex: 1;
        }

        .row-with-check div {
            flex: 1;
            display: flex;
            vertical-align: center;
            align-items: center;
        }

        .row-with-check div input {
            flex: 0;
            height: 60%;
            margin: 0;
        }

    </style>
</head>
<body>
<div th:if="${message!=null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        alert(/*[[${message}]]*/);
        /*]]>*/
    </script>
</div>
<div id="header">
    <div th:replace="~{header/header :: head-course}"></div>
</div>
<div id="main">
    <h1>我的课程-小节信息</h1>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="leftTd">小节名称</td>
            <td th:text="${section.getName()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">小节简介</td>
            <td th:text="${section.getSummary()}" class="wrapTd"></td>
        </tr>
        <tr>
            <td class="leftTd">小节序号</td>
            <td th:text="${section.getOrderNumber()}" class="wrapTd"></td>
        </tr>
        </tbody>
    </table>
    <br/>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addChapter">
        添加对话
    </button>
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#insertKnowledge">
        插入对话
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modifySection">
        修改小节
    </button>
    <a th:href="${'/course/choice/'+section.getId()}">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal">
            查看选择题
        </button>
    </a>
    <a th:href="${'/course/chapter/'+section.getChapterId()}">
        <button type="button" class="btn btn-lg btn-info" data-toggle="modal">
            返回章节
        </button>
    </a>
    <br/>
    <table class="table table-bordered table-striped">
        <caption th:text="'小节数: ' + ${list.size()} + ''"></caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col" th:text="'#'+${list.size()}"></th>
            <th scope="col">对话内容</th>
            <th scope="col">对话顺序号</th>
            <th scope="col">重要程度</th>
            <th scope="col">谁说的</th>
            <th scope="col">删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="knowledge,status: ${list}">
            <td class="wrapTd" th:text="|${status.count}|"></td>
            <td class="wrapTd" th:text="${knowledge.getContent()}"></td>
            <td class="wrapTd" th:text="${knowledge.getOrderNumber()}"></td>
            <td class="wrapTd" th:switch="${knowledge.getImportanceDegree()}">
                <span th:case="0">最重要</span>
                <span th:case="1">很重要</span>
                <span th:case="2">一般</span>
                <span th:case="3">不重要</span>
            </td>
            <td>
                <span th:if="${knowledge.getWhoSay()==0}">老师</span>
                <span th:if="${knowledge.getWhoSay()==1}">学生</span>
            </td>
            <td><a th:href="${'/course/delete/'+section.getId()+'/'+knowledge.getId()+'/knowledge'}">
                <button class="btn btn-danger">删除</button>
            </a></td>
        </tr>
        </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addChapter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加对话</h4>
                </div>
                <form method="post" th:action="${'/course/add/'+section.getId()+'/knowledge'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group input-group row-with-check" th:each="item,status: ${arrayInt}">
                            <input type="text" class="form-control" name="content" placeholder="对话内容" maxlength=100>
                            <select name="important" class="form-control">
                                <option value="0">最重要</option>
                                <option value="1">很重要</option>
                                <option value="2" selected>一般</option>
                                <option value="3">不重要</option>
                            </select>
                            <div>
                                <input name="teacher" type="checkbox" th:value="${item}"><span>老师</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">添加对话</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="insertKnowledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">添加对话</h4>
                </div>
                <form method="post" th:action="${'/course/insert/'+section.getId()+'/knowledge'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group input-group row-with-check">
                            <input type="text" class="form-control" name="content" placeholder="对话内容" maxlength=100 required>
                            <select name="important" class="form-control">
                                <option value="0">最重要</option>
                                <option value="1">很重要</option>
                                <option value="2" selected>一般</option>
                                <option value="3">不重要</option>
                            </select>
                            <div>
                                <input name="teacher" type="checkbox" value="0"><span>老师</span>
                            </div>
                        </div>
                        <div class="form-group input-group row-with-check">
                            <input type="number" class="form-control" name="orderNumber" placeholder="顺序号" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">插入对话</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modifySection" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModal">修改小节</h4>
                </div>
                <form method="post" th:action="${'/course/modify/'+section.getId()+'/section'}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="number" name="orderNumberOld" th:value="${section.getOrderNumber()}"
                               hidden="hidden">
                        <input type="number" name="chapterId" th:value="${section.getChapterId()}" hidden="hidden">
                        <div class="form-group input-group">
                            <span class="input-group-addon">小节名称</span>
                            <input type="text" class="form-control" name="name" placeholder="小节名称" maxlength="30"
                                   aria-describedby="basic-addon1" th:value="${section.getName()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">小节摘要</span>
                            <input type="text" class="form-control" name="summary" placeholder="小节摘要" maxlength="100"
                                   aria-describedby="basic-addon1" th:value="${section.getSummary()}" required>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">顺序号</span>
                            <input type="number" class="form-control" name="orderNumber" placeholder="顺序号"
                                   aria-describedby="basic-addon1" th:value="${section.getOrderNumber()}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">修改小节</button>
                        <button type="button" class="btn btn-primary btn-danger" data-toggle="modal"
                                data-target="#delete">
                            删除小节
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalmyModalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalDelete">警告：删除后无法恢复</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <a th:href="${'/course/delete/'+section.getId()+'/section'}">
                        <button type="button" class="btn btn-primary">确认删除</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="footer">
    <div th:replace="~{header/footer :: footer-fragment}"></div>
</div>
</body>
</html>